#profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

#container-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pic {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: fill;
    box-shadow: 5px 2px gray;
}

.riwayat {
    height: 100px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px;
    box-shadow: 2px 2px gray;
}