{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href={% static 'css/index.css' %}>
    

    <title>Anggardha Febriano</title>
  </head>
  <body>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="profile">
             <div id="container-profile">
                <img id="pic" class="img-fluid" src="{% static 'img/angga2.png' %}" alt="...">    
                <h4 class="text-center" style="margin-top: 10px">Halo,nama saya Anggardha Febriano<br>(1806235800)</h4>
                <h6 class="text-center">Saya sekarang kuliah di Universitas Indonesia jurusan ilmu komputer.<br>
                saya angkatan 2018.<br>
            Saya memiliki hobi olahraga futsal dan taekwondo, selain itu saya suka membaca
            </h6>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="profile">
                <div id="container-profile">
                    <h1>Riwayat Pendidikan<i class="material-icons" style="font-size:50px">school</i></h1>
                    <div class="riwayat">
                        <h4 style="font-size:21px">Sekolah Dasar<i class="material-icons" style="color:green">done</i></h4>
                        <p>SDI Al-Fauzien(2006-2012)</p>
                    </div>
                    <div class="riwayat">
                            <h4 style="font-size:21px">Sekolah Menengah Pertama<i class="material-icons" style="color:green">done</i></h4>
                            <p>SMPN 3 Depok(2012-2015)</p>
                        </div>
                        <div class="riwayat">
                                <h4 style="font-size:21px">Sekolah Menengah Atas<i class="material-icons" style="color:green">done</i></h4>
                                <p>SMAN 1 Depok(2015-2018)</p>
                            </div>
                            <div class="riwayat">
                                    <h4 style="font-size:21px">Universitas<i class="material-icons" style="color:orange">query_builder</i></h4>
                                    <p>Universitas Indonesia(2018)</p>
                                </div>
                </div>
            </div>
        </div>
        <nav class="navbar fixed-bottom" id="container-profile" style="height:80px;position: relative;">
            <div>
                <a class="item" href="https://id.linkedin.com/in/anggardha-febriano-369672128">
                    <i class='fab fa-linkedin-in' style="color:black;"></i>
                </a>
                <a class="item" href="https://github.com/anggardhanoano">
                    <i class='fab fa-github' style="color:black;"></i>
                </a>
                <a class="item" href="mailto:anggardhanoano@gmail.com?Subject=Hello">
                   <i class="fas fa-envelope" style="color:black;"></i>
                </a>
            </div>
            <div>
                <p>Anggardha-1806235800</p>
            </div>
              </nav>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>